.banner{
    position: relative;
    padding-top:40%;
    overflow: hidden;
    figure{
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        margin: 0;
        video{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position:center center;
        }
    }
}