.footer{
    margin-top: auto;
    background: $black;
    padding: 2rem 0;
    .footer-nav{
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
        gap: 15px;
        li{
            color: $white;
        }
        a{
            color: $white;
        }
    }
}